.home{
    background: url("../images/home-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    width: 55rem;
    padding: 2rem;
}
.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}
.home .content p{
    line-height: 2;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}
@media (max-width: 768px){
	.home{
        background-position: left;
    }
    .home .content{
        width: auto;
    }
}
@media (max-width:450px){
	.home .content h3{
        font-size: 4rem;
    }
}