.reviews{
    background-color: var(--light-bg);
}
.reviews .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}
.reviews .box-container .box{
    background-color: var(--white);
    text-align: center;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
}
.reviews .box-container .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}
.reviews .box-container .box p{
    padding: 2rem 0;
    line-height: 2;
    font-size: 1.5rem;
    color: var(--light-color);
    margin-bottom: 0;
}
.reviews .box-container .box .stars{
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
    margin-bottom: 1rem;
    display: inline-block;
}
.reviews .box-container .box .stars i{
    font-size: 1.5rem;
    color: var(--blue);
}
.reviews .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
}
.reviews .box-container .box span{
    font-size: 1.5rem;
    color: var(--light-color);
}