*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  //   color: #262e36;
  line-height: 1;
  background-color: white;
  color: $gray-dark;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.button {
  display: inline-block;
  font-size: 16px;
  color: $gray-dark;
  padding: 25px 45px;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  &--primary {
    color: white;
    background-color: $primary;
  }
  &--outline {
    border: 1px solid $gray-light;
    color: $gray-light;
  }
}
.block {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
  &-caption {
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
    padding: 0 5px;
  }
  &-caption::before,
  &-caption::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: $primary;
    top: 50%;
    transform: translateY(-50%);
  }
  &-caption::before {
    left: 0;
    transform: translateX(-100%);
  }
  &-caption::after {
    right: 0;
    transform: translateX(100%);
  }
  &-caption--left::after {
    display: none;
  }
  &-caption--left::before {
    transform: none;
  }
  &-caption--left {
    padding-left: 40px;
    margin-bottom: 30px;
  }
  &-heading {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.4;
    span {
      display: block;
    }
  }
}
.text {
  font-weight: 300;
  color: $gray-text;
  line-height: 1.6;
}
.logo {
  display: inline-block;
}
