.header {
  padding-top: 45px;
  display: flex;
  align-items: center;

  &-auth {
    margin-left: auto;
  }
  &-logo {
    margin-right: 120px;
    display: block;
  }
  &-menu {
    display: flex;
    align-items: center;
    list-style: none;
    color: $gray-dark;
    &-item:not(:first-child) {
      margin-left: 75px;
    }
    &-link {
      color: $gray-dark;
      transition: all 0.2s linear;
      &:hover {
        color: $primary;
      }
    }
  }
}
