.header {
  padding-top: 45px;
  display: flex;
  align-items: center;
  .logo {
    margin-right: 120px;
  }
  &-auth {
    margin-left: auto;
  }
  &-menu {
    display: flex;
    align-items: center;
    list-style: none;
    color: $gray-dark;
    &-item:not(:first-child) {
      margin-left: 75px;
    }
    &-link {
      color: $gray-dark;
      transition: all 0.2s linear;
      &:hover {
        color: $primary;
      }
    }
  }
}
@include maxWidth(1279px) {
  .header {
    .logo {
      margin-right: 0;
    }
    &-menu {
      margin: 0 auto;
    }
    &-auth {
      margin-left: 0;
      .button {
        padding: 15px 20px;
      }
    }
  }
}
@include maxWidth(1023px) {
  .header {
    &-menu {
      display: none;
    }
    &-auth {
      margin-left: auto;
    }
  }
}
@include maxWidth(767px) {
  .header {
    padding-top: 30px;
  }
  .logo {
    max-width: 90px;
  }
}
