.intro {
  padding: 110px 0 160px;
  display: flex;
  align-items: center;
  & > * {
    width: 50%;
  }
  &-content {
    padding-right: 150px;
  }
  &-image {
    transform: translateX(-20px);
  }
  &-desc {
    margin-bottom: 30px;
    margin-top: 40px;
  }
  @include maxWidth(1023px) {
    padding: 80px 0;
    &-content {
      padding-right: 0;
    }
    &-image {
      transform: none;
    }
    &-desc {
      margin-top: 20px;
    }
  }
  @include maxWidth(767px) {
    flex-direction: column;
    & > * {
      width: 100%;
    }
    &-image {
      margin-top: 30px;
    }
  }
}
