.work {
  padding-top: 140px;
  &-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    column-gap: 50px;
  }
  &-item {
    padding: 40px 20px;
    border: 1px solid $gray-light;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    transition: all 0.2s linear;
    cursor: pointer;
  }
  &-more {
    transition: all 0.2s linear;
  }
  &-item:hover {
    border-color: transparent;
    box-shadow: 0 0 20px 2px rgba($color: #000000, $alpha: 0.03);
  }
  &-item:hover .work-more {
    border-color: $primary;
    background-color: $primary;
    color: white;
  }
  &-image {
    margin-bottom: 35px;
    max-height: 115px;
  }
  &-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 35px;
    span {
      display: block;
    }
  }
  &-desc {
    margin-bottom: 35px;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    word-break: break-word;
  }
  @include maxWidth(1279px) {
    padding-top: 60px;
    &-list {
      column-gap: 25px;
    }
  }
  @include maxWidth(1023px) {
    &-list {
      grid-template-columns: repeat(1, 340px);
      row-gap: 30px;
      justify-content: center;
    }
  }
}
