*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: white;
  color: #272e35;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  font-size: 16px;
  color: #272e35;
  padding: 25px 45px;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.button--primary {
  color: white;
  background-color: #579aff;
}
.button--outline {
  border: 1px solid #9ba9bc;
  color: #9ba9bc;
}

.block {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}
.block-caption {
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
  padding: 0 5px;
}
.block-caption::before, .block-caption::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: #579aff;
  top: 50%;
  transform: translateY(-50%);
}
.block-caption::before {
  left: 0;
  transform: translateX(-100%);
}
.block-caption::after {
  right: 0;
  transform: translateX(100%);
}
.block-caption--left::after {
  display: none;
}
.block-caption--left::before {
  transform: none;
}
.block-caption--left {
  padding-left: 40px;
  margin-bottom: 30px;
}
.block-heading {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
}
.block-heading span {
  display: block;
}

.text {
  font-weight: 300;
  color: #6e757c;
  line-height: 1.6;
}

.logo {
  display: inline-block;
}

@media screen and (max-width: 1023px) {
  .block {
    margin-bottom: 40px;
  }
  .block-caption {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .button {
    padding: 15px 20px;
  }
  .block-heading span {
    display: unset;
  }
}
.banner {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.banner-info {
  width: 35%;
}
.banner-image {
  width: 65%;
  transform: translateX(50px);
}
.banner-heading {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 40px;
}
.banner-heading span {
  display: block;
}
.banner-desc {
  line-height: 1.5;
  margin-bottom: 40px;
}
.banner-links .button:first-child {
  margin-right: 35px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 1279px) {
  .banner-heading {
    font-size: 45px;
    margin-bottom: 20px;
  }
  .banner-image {
    transform: none;
  }
  .banner-links .button {
    padding: 15px 20px;
  }
  .banner-links .button:first-child {
    margin-right: 10px;
  }
  .banner-desc {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 1023px) {
  .banner {
    flex-direction: column;
  }
  .banner > * {
    width: 100%;
  }
  .banner-image {
    margin-top: 25px;
  }
}
@media screen and (max-width: 767px) {
  .banner {
    padding-top: 30px;
  }
  .banner-heading {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .banner-heading span {
    display: unset;
  }
}

.header {
  padding-top: 45px;
  display: flex;
  align-items: center;
}
.header .logo {
  margin-right: 120px;
}
.header-auth {
  margin-left: auto;
}
.header-menu {
  display: flex;
  align-items: center;
  list-style: none;
  color: #272e35;
}
.header-menu-item:not(:first-child) {
  margin-left: 75px;
}
.header-menu-link {
  color: #272e35;
  transition: all 0.2s linear;
}
.header-menu-link:hover {
  color: #579aff;
}

@media screen and (max-width: 1279px) {
  .header .logo {
    margin-right: 0;
  }
  .header-menu {
    margin: 0 auto;
  }
  .header-auth {
    margin-left: 0;
  }
  .header-auth .button {
    padding: 15px 20px;
  }
}
@media screen and (max-width: 1023px) {
  .header-menu {
    display: none;
  }
  .header-auth {
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 30px;
  }
  .logo {
    max-width: 90px;
  }
}
.work {
  padding-top: 140px;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  column-gap: 50px;
}
.work-item {
  padding: 40px 20px;
  border: 1px solid #9ba9bc;
  border-radius: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  transition: all 0.2s linear;
  cursor: pointer;
}
.work-more {
  transition: all 0.2s linear;
}
.work-item:hover {
  border-color: transparent;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.03);
}
.work-item:hover .work-more {
  border-color: #579aff;
  background-color: #579aff;
  color: white;
}
.work-image {
  margin-bottom: 35px;
  max-height: 115px;
}
.work-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.4;
  margin-bottom: 35px;
}
.work-title span {
  display: block;
}
.work-desc {
  margin-bottom: 35px;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  word-break: break-word;
}
@media screen and (max-width: 1279px) {
  .work {
    padding-top: 60px;
  }
  .work-list {
    column-gap: 25px;
  }
}
@media screen and (max-width: 1023px) {
  .work-list {
    grid-template-columns: repeat(1, 340px);
    row-gap: 30px;
    justify-content: center;
  }
}

.intro {
  padding: 110px 0 160px;
  display: flex;
  align-items: center;
}
.intro > * {
  width: 50%;
}
.intro-content {
  padding-right: 150px;
}
.intro-image {
  transform: translateX(-20px);
}
.intro-desc {
  margin-bottom: 30px;
  margin-top: 40px;
}
@media screen and (max-width: 1023px) {
  .intro {
    padding: 80px 0;
  }
  .intro-content {
    padding-right: 0;
  }
  .intro-image {
    transform: none;
  }
  .intro-desc {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .intro {
    flex-direction: column;
  }
  .intro > * {
    width: 100%;
  }
  .intro-image {
    margin-top: 30px;
  }
}

.plan {
  padding-bottom: 100px;
}
.plan-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.plan-item {
  padding: 70px 30px;
  border: 1px solid #f3f3f3;
  border-radius: 15px;
  width: calc(33.33% - 30px);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s linear;
  position: relative;
}
.plan-label {
  position: absolute;
  padding: 20px 25px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #ff858d;
  color: white;
  top: 0;
  right: 0;
}
.plan-item:hover {
  border-color: transparent;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.03);
}
.plan-item:hover .plan-start {
  border-color: #579aff;
  background-color: #579aff;
  color: white;
}
.plan-item:hover .plan-label {
  box-shadow: 7px -5px 20px 2px rgba(0, 0, 0, 0.03);
}
.plan-name {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 35px;
}
.plan-price {
  padding-bottom: 40px;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 35px;
}
.plan-symbol {
  vertical-align: top;
}
.plan-month {
  font-size: 50px;
  font-weight: 500;
}
.plan-desc {
  margin-bottom: 60px;
}
.plan-feature {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 35px;
}
.plan-feature-item {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.plan-feature-item:last-of-type {
  margin-bottom: 75px;
}
.plan-feature-icon {
  color: #9ba9bc;
  font-size: 20px;
}
.plan-feature-title {
  display: inline-block;
  margin-left: 10px;
  font-weight: 400;
}
.plan-start {
  display: block;
  margin: auto auto 0;
  width: max-content;
  transition: all 0.2s linear;
}
@media screen and (max-width: 1279px) {
  .plan-item {
    width: calc(33.33% - 15px);
  }
}
@media screen and (max-width: 1023px) {
  .plan {
    padding-bottom: 60px;
  }
  .plan-list {
    flex-direction: column;
  }
  .plan-item {
    padding: 40px 20px;
    width: 350px;
    margin: 0 auto;
  }
  .plan-item:not(:first-child) {
    margin-top: 30px;
  }
}

.client {
  padding-bottom: 100px;
}
.client-list {
  display: flex;
}
.client-item {
  padding: 45px 20px;
  border: 1px solid #f3f3f3;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex: 1;
}
.client-item:not(:first-child) {
  margin-left: 70px;
}
.client-item:hover {
  border-color: transparent;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.03);
}
.client-info {
  margin-bottom: 25px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f3f3f3;
  width: 100%;
}
.client-avatar {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 25px;
}
.client-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.client-name {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 15px;
}
.client-position {
  display: block;
  font-weight: 500;
  font-size: 14px;
}
.client-review {
  line-height: 1.7;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 30px;
}
.client-rate {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-rate i {
  margin: 0 5px;
  font-size: 20px;
  color: #ffcb46;
}
@media screen and (max-width: 1279px) {
  .client-item:not(:first-child) {
    margin-left: 35px;
  }
}
@media screen and (max-width: 767px) {
  .client-list {
    flex-direction: column;
  }
  .client-item:not(:first-child) {
    margin-left: 0;
    margin-top: 30px;
  }
}

.started {
  max-width: 900px;
  margin: 100px auto 50px;
  border-radius: 20px;
  background-color: #fbfbfb;
  padding: 60px 30px;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.started-caption {
  margin-bottom: 20px;
}
.started-heading {
  margin-bottom: 30px;
}
.started-desc {
  margin-bottom: 50px;
}
.started-comment {
  position: absolute;
  left: 30px;
  bottom: 0;
}
.started-smile {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
}
.footer-heading {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
}
.footer-links {
  list-style: none;
}
.footer-link-item {
  margin-bottom: 30px;
}
.footer-link {
  color: #272e35;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
