.footer {
  &-top {
    padding: 150px 0;
    background-color: $gray-dark;
  }

  &-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 130px;
  }
  &-logo {
    display: inline-block;
    margin-bottom: 40px;
  }
  &-desc {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .social {
    display: flex;
    align-items: center;
    gap: 0 30px;
    &-item {
      cursor: pointer;
      color: $gray-light;
      transition: color 0.2s linear;
      &:hover {
        color: white;
      }
    }
  }
  &-title {
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
  }
  &-links {
    list-style: none;
  }
  &-item {
    margin-bottom: 30px;
  }
  &-link {
    display: inline-block;
    color: $gray-light;
  }
  &-info {
    margin-bottom: 40px;
    list-style: none;
  }
  &-info li {
    margin-bottom: 15px;
  }
  &-bottom {
    background-color: $gray-darker;
    line-height: 1.6;
  }
  &-container {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
  }
  &-rocket {
    position: absolute;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue-color;
    color: white;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
  }
  @include maxW(1023px) {
    &-top {
      padding: 100px 0;
    }
    &-main {
      grid-gap: 0px 40px;
    }
  }
  @include maxW(767px) {
    &-top {
      padding: 50px 0;
    }
    &-main {
      grid-template-columns: 1fr;
      gap: 30px 0;
    }
    &-container {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    &-rocket {
      right: 15px;
    }
  }
}
