section.about 
	.container 
		+blockBox("What we do", "Story about us", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, magni!")
		.about-list 
			+aboutItem({
				src: "./images/img-about1.png",
				title:  "Super team",
				iconClass: "fa fa-users"
			})
			+aboutItem({
				src: "./images/img-about2.png",
				title:  "Home",
				iconClass: "fa fa-home"
			})
			+aboutItem({
				src: "./images/img-about3.png",
				title:  "Phone",
				iconClass: "fa fa-phone"
			})