section.people
	.container 
		+blockBox("Happy clients", "What people say")
		ul.people-list 
			+peopleItem("../images/img-people1.png", "Matthew Dix", "Graphic design", "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, quo. Voluptate architecto autem possimus laudantium odit tempore sint ab iure nisi ipsa. Quaerat eligendi id, voluptatem debitis deserunt ratione facilis!")
			+peopleItem("../images/img-people2.png", "Nick Karvounis", "Graphic design", "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, quo. Voluptate architecto autem possimus laudantium odit tempore sint ab iure nisi ipsa. Quaerat eligendi id, voluptatem debitis deserunt ratione facilis!")
			+peopleItem("../images/img-people3.png", "Jaelynn Castillo ", "Graphic design", "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, quo. Voluptate architecto autem possimus laudantium odit tempore sint ab iure nisi ipsa. Quaerat eligendi id, voluptatem debitis deserunt ratione facilis!")
			+peopleItem("../images/img-people4.png", "Mike Petrucci", "Graphic design", "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, quo. Voluptate architecto autem possimus laudantium odit tempore sint ab iure nisi ipsa. Quaerat eligendi id, voluptatem debitis deserunt ratione facilis!")
			