section.quote 
	.container
		.quote-list 
			//- i.fal.fa-angle-left.quote-arrow.quote-arrow-left 
			+quoteItem()
			+quoteItem("https://images.unsplash.com/photo-1593642532744-d377ab507dc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80", true)
			+quoteItem()
			//- i.fal.fa-angle-right.quote-arrow.quote-arrow-right 