section.services 
	.container 
		+blockBox("We Work With", "Amazing services")
		.services-list 
			+servicesItem("./images/img-service-icon1.png", "Photography", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor")
			+servicesItem("./images/img-service-icon2.png", "Web Design", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor")
			+servicesItem("./images/img-service-icon3.png", "Creativity", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor")
		.services-list 
			+servicesItem("./images/img-service-icon4.png", "seo", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor")
			+servicesItem("./images/img-service-icon5.png", "Css/Html", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor")
			+servicesItem("./images/img-service-icon6.png", "digital", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor")