section.story 
	.container 
		+blockBox("Our stories", "Lastest blog")
		ul.story-list
			+storyItem("../images/img-blog1.png", 20, "Jan", "Lorem, ipsum dolor sit amet consectetur adipisicing.", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, quod omnis voluptatem, consequatur quae ex suscipit vero cupiditate repudiandae culpa accusantium voluptatum obcaecati ea modi molestiae quis fugit nobis. A?", 150, 20)
			+storyItem("../images/img-blog2.png",20, "Jan", "Lorem, ipsum dolor sit amet consectetur adipisicing.", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, quod omnis voluptatem, consequatur quae ex suscipit vero cupiditate repudiandae culpa accusantium voluptatum obcaecati ea modi molestiae quis fugit nobis. A?", 150, 20)
			+storyItem("../images/img-blog3.png",20, "Jan", "Lorem, ipsum dolor sit amet consectetur adipisicing.", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, quod omnis voluptatem, consequatur quae ex suscipit vero cupiditate repudiandae culpa accusantium voluptatum obcaecati ea modi molestiae quis fugit nobis. A?", 150, 20)
section.map 
	.container 
		.map-content 
			img.map-icon(src="../images/img-map-icon.png")
			h2.map-heading Open map