section.team 
	.container 
		+blockBox("Who we are", "Meet our team", "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus temporibus iusto consequatur deserunt ex reprehenderit beatae eius error facilis provident, voluptas laboriosam quaerat aspernatur, tenetur modi veritatis laborum corporis pariatur.") 
		.team-list 
			+teamItem("../images/img-team1.png", "Matthew Dix", "Graphic Design")
				+teamSocial("https://google.com.vn")
			+teamItem("../images/img-team2.png", "Christopher Campbell", "Branding/UX design")
				+teamSocial("https://zing.vn")
			+teamItem("../images/img-team3.png", "Michael Fertig", "Developer")
				+teamSocial("https://zend.vn.com")
section.brand 
	.container 
		img(src="../images/img-logos.png", alt="").brand-img